body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
/* navigation Bar  */
nav {
  background: rgba(71, 164, 188, 0.871);
}

nav ul a {
  color: #000;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation Bar End  */

/* Hero Section  */
.hero-section {
  background-color: #dedada;
  height: 70vh;
  position: relative;
}
.container2 {
  width: 65vw;
  height: 50vh;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 50px;
  left: 100px; */
  border-radius: 10px;
}
